.todo {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    gap: 2rem;
    overflow-y: auto;
    padding-bottom: 2rem;
}

.todo .column {
    display:flex;
    flex-direction: column;
    gap: 2rem;
    width: 20rem;
    min-height: calc(100vh - 12rem)

}
.todo .title {

}
.todo .task-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.todo .task-card {
    display: grid;
    gap: 0.7rem;    
    padding: 1rem;
    background-color: #fff; 
    border: 1px solid #777;
    border-radius: 0.4rem;
    box-shadow:0 0.1rem 0.9rem #0002;
    overflow-y: auto;
    max-height: 15rem;

}
.task-card .task-title{
font-size: 1.5rem;
}
.task-card .task-desc{
    font-size: 1rem;
    color: #333;
}
.task-card .task-tags{
    display: flex;
    gap: 0.7rem;
}
.task-card .tag {
    font-size: 0.9rem;
    padding: 0.5em 1em;
    border-radius: 1em;
    line-height: 1em;
    background-color: #ddd;
}

.task-card .deadline {
    
}